* {
margin: 0;
padding: 0;
}
.w{ 
    width: 1200px;
    margin: auto;
}
 li {
    list-style: none;
}

.header {
    height: 43px;
    background-color: pink;
    margin: 30px auto;
}
.logo{
    float: left;
    height: 43px;
    width: 198px;
    background-color: blue;}
  
.nav{ 
   float: left;
    margin-left: 60px;
}
.nav ul li{
    float: left;
}


   
  
